.avatar {
    /* Rounded border */
    border-radius: 50%;
    background-color: #CCCCCC;
    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;

    /* Size */
    height: 4rem;
    width: 4rem;
}

.avatar_image {
    /* Size */
    height: 100%;
    width: 100%;
    border-radius: 50%;
}