.button {
  border-radius: 4px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 5px;
}

.button:active {
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.6, 1);
  opacity: 0.24;
}

.button_primary {
  background-color: #4dd6d3;
  color: white;
}

.button_secondary {
  background-color: #cccccc;
  color: white;
}

.button_large {
  width: 150px;
  height: 32px;
}

.button_medium {
  width: 125px;
  height: 28px;
}

.button_small {
  width: 100px;
  height: 24px;
  font-size: 0.875rem;
}
